In [1]:
import duckdb as ddb
import pandas as pd

In [2]:
con = ddb.connect("air_quality.db")
con

In [3]:
df = con.query("select * from raw.air_quality_data").to_df()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155267 entries, 0 to 2155266
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   location_id         int64
 1   sensors_id          int64
 2   location            object
 3   datetime            datetime64[us]
 4   lat                 float64
 5   lon                 float64
 6   parameter           object
 7   units               object
 8   value               float64
 9   month               object
 10  year                int64
 11  ingestion_datetime  datetime64[us]
dtypes: datetime64[us](2), float64(3), int64(3), object(4)
memory usage: 197.3+ MB

In [5]:
df.head()

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value,month,year,ingestion_datetime
0,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 19:15:00,30.9028,75.8086,pm10,µg/m³,66.69,03,2025,2025-04-17 13:02:36.691
1,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 19:30:00,30.9028,75.8086,pm10,µg/m³,70.55,03,2025,2025-04-17 13:02:36.691
2,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 19:45:00,30.9028,75.8086,pm10,µg/m³,70.78,03,2025,2025-04-17 13:02:36.691
3,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 20:00:00,30.9028,75.8086,pm10,µg/m³,70.78,03,2025,2025-04-17 13:02:36.691
4,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 20:15:00,30.9028,75.8086,pm10,µg/m³,70.78,03,2025,2025-04-17 13:02:36.691

In [6]:
df.describe()

,location_id,sensors_id,datetime,lat,lon,value,year,ingestion_datetime
count,2.155267e+06,2.155267e+06,2155267,2.155267e+06,2.155267e+06,2.155267e+06,2155267.0,2155267
mean,1.195629e+07,2.479262e+05,2025-03-11 05:38:39.028658,2.371912e+01,7.839777e+01,4.844545e+20,2025.0,2025-04-17 13:44:13.985374
min,5.569000e+03,1.700000e+01,2024-12-31 19:15:00,8.514909e+00,7.259191e+01,-8.435902e+24,2025.0,2025-04-17 10:35:36.060000
25%,1.223485e+07,5.569000e+03,2025-03-01 04:15:00,1.983894e+01,7.590639e+01,8.000000e+00,2025.0,2025-04-17 13:27:52.274000
50%,1.223515e+07,5.612000e+03,2025-03-11 07:45:00,2.535060e+01,7.731603e+01,2.400000e+01,2025.0,2025-04-17 13:45:58.596000
75%,1.223549e+07,5.636000e+03,2025-03-21 09:00:00,2.856278e+01,8.023981e+01,4.900000e+01,2025.0,2025-04-17 14:04:33.726000
max,1.232845e+07,1.223543e+07,2025-03-31 18:15:00,3.162000e+01,8.841267e+01,5.792092e+26,2025.0,2025-04-17 14:21:26.033000
std,1.827676e+06,1.706139e+06,NaN,5.587816e+00,3.608765e+00,5.248126e+23,0.0,NaN

In [7]:
df["location"].unique()

array(['Punjab Agricultural University, Ludhiana - PPCB-3379554',
       'R K Puram, Delhi - DPCC-3379481',
       'Punjabi Bagh, Delhi - DPCC-3379482',
       'Anand Vihar, New Delhi - DPCC-3379575',
       'Zoo Park, Hyderabad - TSPCB-3379572',
       'Sanjay Palace, Agra - UPPCB-3379581',
       'Talkatora District Industries Center, Lucknow - CPCB-3379571',
       'Sector-6, Panchkula - HSPCB -3490425',
       'Manali, Chennai - CPCB-3379580',
       'Solapur, Solapur - MPCB-3379576', 'Embassy Kathmandu-3459',
       'US Diplomatic Post: Embassy Kathmandu-3459',
       'Phora Durbar Kathman-3460',
       'US Diplomatic Post: Phora Durbar Kathmandu-3460',
       'Pusa, Delhi - IMD-3379470',
       'Secretariat, Amaravati - APPCB-3379499',
       'Mahakaleshwar Temple, Ujjain - MPPCB-3379494',
       'Burari Crossing, New Delhi - IMD-3379467',
       'Civil Line, Jalandhar - PPCB-3379522',
       'Model Town, Patiala - PPCB-3379521',
       'Tata Stadium - Jorapokhar - JSPCB-3384766',
       'BTM Layout, Bengaluru - CPCB-3379546',
       'Golden Temple, Amritsar - PPCB-3379556',
       'Collectorate, Gaya - BSPCB-3379545',
       'MIDC Khutala, Chandrapur - MPCB-3379569',
       'Talcher Coalfields,Talcher - OSPCB-3379500',
       'Aya Nagar, New Delhi - IMD-3379471',
       'City Railway Station, Bengaluru - KSPCB-3379548',
       'Moti Doongri, Alwar - RSPCB-3379485',
       'Ashok Nagar, Udaipur - RSPCB-3379492',
       'Sirifort, Delhi - CPCB-3379479',
       'Collectorate, Jodhpur - RSPCB-3379484',
       'RIICO Ind. Area III, Bhiwadi - RSPCB-3379486',
       'Ardhali Bazar, Varanasi - UPPCB-3379561',
       'Gangapur Road, Nashik - MPCB-3379578',
       'Muzaffarpur Collectorate, Muzaffarpur - BSPCB-3379544',
       'Sector - 125, Noida, UP - UPPCB-3379526',
       'Bollaram Industrial Area, Hyderabad - TSPCB-3379551',
       'Asansol Court Area, Asansol - WBPCB-3379503',
       'Sector-2 Industrial Area, Pithampur - MPPCB-3379496',
       'Peenya, Bengaluru - CPCB-3379547',
       'GM Office, Brajrajnagar - OSPCB-3379501',
       'Anam Kala Kendram, Rajamahendravaram - APPCB-3379493',
       'North Campus, DU, Delhi - IMD-3379468',
       'Shastri Nagar, Jaipur - RSPCB-3379491',
       'ITO, New Delhi - CPCB-3379477',
       'Padmapukur, Howrah - WBPCB-3379502',
       'Sidhu Kanhu Indoor Stadium, Durgapur - WBPCB-3379573',
       'Sector - 62, Noida, UP - IMD-3379473',
       'Vindhyachal STPS, Singrauli - MPPCB-3379495',
       'Opp GPO Civil Lines, Nagpur - MPCB-3379577',
       'NSIT Dwarka, Delhi - CPCB-3379476',
       'Central University, Hyderabad - TSPCB-3383723',
       'IDA Pashamylaram, Hyderabad - TSPCB-3379563',
       'RIMT University, Mandi Gobindgarh - PPCB-3379555',
       'DTU, New Delhi - CPCB-3379478',
       'CRRI Mathura Road, New Delhi - IMD-3379466',
       'GVM Corporation, Visakhapatnam - APPCB-3379558',
       'Shadipur, Delhi - CPCB-3379474',
       'Maninagar, Ahmedabad - GPCB-3379582',
       'Sector-D Industrial Area, Mandideep - MPPCB-3379497',
       'Police Commissionerate, Jaipur - RSPCB-3379483',
       'Lodhi Road, New Delhi - IMD-3379472',
       'Adarsh Nagar, Jaipur - RSPCB-3379488',
       'Shrinath Puram, Kota - RSPCB-3379489',
       'Indira Colony Vistar, Pali - RSPCB-3379490',
       'More Chowk Waluj, Aurangabad - MPCB-3379550',
       'Sanegurava Halli, Bengaluru - KSPCB-3379549',
       'ICRISAT Patancheru, Hyderabad - TSPCB-3379552',
       'Plammoodu, Thiruvananthapuram - Kerala PCB-3379553',
       'Sanathnagar, Hyderabad - TSPCB-3383734',
       'Ward-32 Bapupara, Siliguri - WBPCB-3379504',
       'Tirumala, Tirupati - APPCB-3379557',
       'IGI Airport (T3), Delhi - IMD-3379469',
       'IGSC Planetarium Complex, Patna - BSPCB-3379543',
       'Velachery Res. Area, Chennai - CPCB-3379566',
       'Lalbagh, Lucknow - CPCB-3379565',
       'Karve Road Pune, Pune - MPCB-3379567',
       'Nehru Nagar, Kanpur - UPPCB-3379564',
       'Vasundhara, Ghaziabad - UPPCB-3379523',
       'Bhopal Chauraha, Dewas - MPPCB-3379498'], dtype=object)

In [8]:
df.describe(include= 'O')

,location,parameter,units,month
count,2155267,2155267,2155267,2155267
unique,81,9,5,3
top,"Punjab Agricultural University, Ludhiana - PPC...",no2,ppb,03
freq,71253,251723,980832,1635662

In [9]:
df[df.duplicated(subset=["location_id" , "parameter", "units", "value" , "datetime"])]

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value,month,year,ingestion_datetime
2133871,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 19:15:00,30.9028,75.8086,pm10,µg/m³,66.69,03,2025,2025-04-17 10:35:36.060
2133872,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 19:30:00,30.9028,75.8086,pm10,µg/m³,70.55,03,2025,2025-04-17 10:35:36.060
2133873,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 19:45:00,30.9028,75.8086,pm10,µg/m³,70.78,03,2025,2025-04-17 10:35:36.060
2133874,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 20:00:00,30.9028,75.8086,pm10,µg/m³,70.78,03,2025,2025-04-17 10:35:36.060
2133875,5569,12235425,"Punjab Agricultural University, Ludhiana - PPC...",2025-02-28 20:15:00,30.9028,75.8086,pm10,µg/m³,70.78,03,2025,2025-04-17 10:35:36.060
...,...,...,...,...,...,...,...,...,...,...,...,...
2155262,5569,12235421,"Punjab Agricultural University, Ludhiana - PPC...",2025-03-31 16:45:00,30.9028,75.8086,co,ppb,1.17,03,2025,2025-04-17 10:35:36.060
2155263,5569,12235421,"Punjab Agricultural University, Ludhiana - PPC...",2025-03-31 17:00:00,30.9028,75.8086,co,ppb,1.59,03,2025,2025-04-17 10:35:36.060
2155264,5569,12235421,"Punjab Agricultural University, Ludhiana - PPC...",2025-03-31 17:30:00,30.9028,75.8086,co,ppb,2.37,03,2025,2025-04-17 10:35:36.060
2155265,5569,12235421,"Punjab Agricultural University, Ludhiana - PPC...",2025-03-31 17:45:00,30.9028,75.8086,co,ppb,2.31,03,2025,2025-04-17 10:35:36.060
2155266,5569,12235421,"Punjab Agricultural University, Ludhiana - PPC...",2025-03-31 18:00:00,30.9028,75.8086,co,ppb,1.89,03,2025,2025-04-17 10:35:36.060

In [10]:
df["parameter"].unique()

array(['pm10', 'pm25', 'o3', 'no2', 'no', 'relativehumidity', 'so2', 'co',
       'temperature'], dtype=object)

In [11]:
df['location'].unique()

array(['Punjab Agricultural University, Ludhiana - PPCB-3379554',
       'R K Puram, Delhi - DPCC-3379481',
       'Punjabi Bagh, Delhi - DPCC-3379482',
       'Anand Vihar, New Delhi - DPCC-3379575',
       'Zoo Park, Hyderabad - TSPCB-3379572',
       'Sanjay Palace, Agra - UPPCB-3379581',
       'Talkatora District Industries Center, Lucknow - CPCB-3379571',
       'Sector-6, Panchkula - HSPCB -3490425',
       'Manali, Chennai - CPCB-3379580',
       'Solapur, Solapur - MPCB-3379576', 'Embassy Kathmandu-3459',
       'US Diplomatic Post: Embassy Kathmandu-3459',
       'Phora Durbar Kathman-3460',
       'US Diplomatic Post: Phora Durbar Kathmandu-3460',
       'Pusa, Delhi - IMD-3379470',
       'Secretariat, Amaravati - APPCB-3379499',
       'Mahakaleshwar Temple, Ujjain - MPPCB-3379494',
       'Burari Crossing, New Delhi - IMD-3379467',
       'Civil Line, Jalandhar - PPCB-3379522',
       'Model Town, Patiala - PPCB-3379521',
       'Tata Stadium - Jorapokhar - JSPCB-3384766',
       'BTM Layout, Bengaluru - CPCB-3379546',
       'Golden Temple, Amritsar - PPCB-3379556',
       'Collectorate, Gaya - BSPCB-3379545',
       'MIDC Khutala, Chandrapur - MPCB-3379569',
       'Talcher Coalfields,Talcher - OSPCB-3379500',
       'Aya Nagar, New Delhi - IMD-3379471',
       'City Railway Station, Bengaluru - KSPCB-3379548',
       'Moti Doongri, Alwar - RSPCB-3379485',
       'Ashok Nagar, Udaipur - RSPCB-3379492',
       'Sirifort, Delhi - CPCB-3379479',
       'Collectorate, Jodhpur - RSPCB-3379484',
       'RIICO Ind. Area III, Bhiwadi - RSPCB-3379486',
       'Ardhali Bazar, Varanasi - UPPCB-3379561',
       'Gangapur Road, Nashik - MPCB-3379578',
       'Muzaffarpur Collectorate, Muzaffarpur - BSPCB-3379544',
       'Sector - 125, Noida, UP - UPPCB-3379526',
       'Bollaram Industrial Area, Hyderabad - TSPCB-3379551',
       'Asansol Court Area, Asansol - WBPCB-3379503',
       'Sector-2 Industrial Area, Pithampur - MPPCB-3379496',
       'Peenya, Bengaluru - CPCB-3379547',
       'GM Office, Brajrajnagar - OSPCB-3379501',
       'Anam Kala Kendram, Rajamahendravaram - APPCB-3379493',
       'North Campus, DU, Delhi - IMD-3379468',
       'Shastri Nagar, Jaipur - RSPCB-3379491',
       'ITO, New Delhi - CPCB-3379477',
       'Padmapukur, Howrah - WBPCB-3379502',
       'Sidhu Kanhu Indoor Stadium, Durgapur - WBPCB-3379573',
       'Sector - 62, Noida, UP - IMD-3379473',
       'Vindhyachal STPS, Singrauli - MPPCB-3379495',
       'Opp GPO Civil Lines, Nagpur - MPCB-3379577',
       'NSIT Dwarka, Delhi - CPCB-3379476',
       'Central University, Hyderabad - TSPCB-3383723',
       'IDA Pashamylaram, Hyderabad - TSPCB-3379563',
       'RIMT University, Mandi Gobindgarh - PPCB-3379555',
       'DTU, New Delhi - CPCB-3379478',
       'CRRI Mathura Road, New Delhi - IMD-3379466',
       'GVM Corporation, Visakhapatnam - APPCB-3379558',
       'Shadipur, Delhi - CPCB-3379474',
       'Maninagar, Ahmedabad - GPCB-3379582',
       'Sector-D Industrial Area, Mandideep - MPPCB-3379497',
       'Police Commissionerate, Jaipur - RSPCB-3379483',
       'Lodhi Road, New Delhi - IMD-3379472',
       'Adarsh Nagar, Jaipur - RSPCB-3379488',
       'Shrinath Puram, Kota - RSPCB-3379489',
       'Indira Colony Vistar, Pali - RSPCB-3379490',
       'More Chowk Waluj, Aurangabad - MPCB-3379550',
       'Sanegurava Halli, Bengaluru - KSPCB-3379549',
       'ICRISAT Patancheru, Hyderabad - TSPCB-3379552',
       'Plammoodu, Thiruvananthapuram - Kerala PCB-3379553',
       'Sanathnagar, Hyderabad - TSPCB-3383734',
       'Ward-32 Bapupara, Siliguri - WBPCB-3379504',
       'Tirumala, Tirupati - APPCB-3379557',
       'IGI Airport (T3), Delhi - IMD-3379469',
       'IGSC Planetarium Complex, Patna - BSPCB-3379543',
       'Velachery Res. Area, Chennai - CPCB-3379566',
       'Lalbagh, Lucknow - CPCB-3379565',
       'Karve Road Pune, Pune - MPCB-3379567',
       'Nehru Nagar, Kanpur - UPPCB-3379564',
       'Vasundhara, Ghaziabad - UPPCB-3379523',
       'Bhopal Chauraha, Dewas - MPPCB-3379498'], dtype=object)

In [12]:
df.groupby(by="parameter" , as_index=False).count()

,parameter,location_id,sensors_id,location,datetime,lat,lon,units,value,month,year,ingestion_datetime
0,co,248378,248378,248378,248378,248378,248378,248378,248378,248378,248378,248378
1,no,251370,251370,251370,251370,251370,251370,251370,251370,251370,251370,251370
2,no2,251723,251723,251723,251723,251723,251723,251723,251723,251723,251723,251723
3,o3,246942,246942,246942,246942,246942,246942,246942,246942,246942,246942,246942
4,pm10,236499,236499,236499,236499,236499,236499,236499,236499,236499,236499,236499
5,pm25,250537,250537,250537,250537,250537,250537,250537,250537,250537,250537,250537
6,relativehumidity,222832,222832,222832,222832,222832,222832,222832,222832,222832,222832,222832
7,so2,229361,229361,229361,229361,229361,229361,229361,229361,229361,229361,229361
8,temperature,217625,217625,217625,217625,217625,217625,217625,217625,217625,217625,217625

In [13]:
df.isnull().sum()

location_id           0
sensors_id            0
location              0
datetime              0
lat                   0
lon                   0
parameter             0
units                 0
value                 0
month                 0
year                  0
ingestion_datetime    0
dtype: int64

In [14]:
df[df["value"] < 0]["location"].unique()

array(['Zoo Park, Hyderabad - TSPCB-3379572',
       'Talkatora District Industries Center, Lucknow - CPCB-3379571',
       'Manali, Chennai - CPCB-3379580', 'Embassy Kathmandu-3459',
       'US Diplomatic Post: Embassy Kathmandu-3459',
       'Phora Durbar Kathman-3460',
       'US Diplomatic Post: Phora Durbar Kathmandu-3460',
       'Pusa, Delhi - IMD-3379470',
       'Secretariat, Amaravati - APPCB-3379499',
       'Burari Crossing, New Delhi - IMD-3379467',
       'Civil Line, Jalandhar - PPCB-3379522',
       'BTM Layout, Bengaluru - CPCB-3379546',
       'MIDC Khutala, Chandrapur - MPCB-3379569',
       'Aya Nagar, New Delhi - IMD-3379471',
       'Moti Doongri, Alwar - RSPCB-3379485',
       'Collectorate, Jodhpur - RSPCB-3379484',
       'RIICO Ind. Area III, Bhiwadi - RSPCB-3379486',
       'Gangapur Road, Nashik - MPCB-3379578',
       'Bollaram Industrial Area, Hyderabad - TSPCB-3379551',
       'Asansol Court Area, Asansol - WBPCB-3379503',
       'Peenya, Bengaluru - CPCB-3379547',
       'GM Office, Brajrajnagar - OSPCB-3379501',
       'North Campus, DU, Delhi - IMD-3379468',
       'Shastri Nagar, Jaipur - RSPCB-3379491',
       'ITO, New Delhi - CPCB-3379477',
       'Padmapukur, Howrah - WBPCB-3379502',
       'Sector - 62, Noida, UP - IMD-3379473',
       'IDA Pashamylaram, Hyderabad - TSPCB-3379563',
       'RIMT University, Mandi Gobindgarh - PPCB-3379555',
       'CRRI Mathura Road, New Delhi - IMD-3379466',
       'GVM Corporation, Visakhapatnam - APPCB-3379558',
       'Maninagar, Ahmedabad - GPCB-3379582',
       'Police Commissionerate, Jaipur - RSPCB-3379483',
       'Lodhi Road, New Delhi - IMD-3379472',
       'Indira Colony Vistar, Pali - RSPCB-3379490',
       'More Chowk Waluj, Aurangabad - MPCB-3379550',
       'Sanegurava Halli, Bengaluru - KSPCB-3379549',
       'ICRISAT Patancheru, Hyderabad - TSPCB-3379552',
       'Sanathnagar, Hyderabad - TSPCB-3383734',
       'Tirumala, Tirupati - APPCB-3379557',
       'IGI Airport (T3), Delhi - IMD-3379469',
       'Lalbagh, Lucknow - CPCB-3379565',
       'Vasundhara, Ghaziabad - UPPCB-3379523',
       'Bhopal Chauraha, Dewas - MPPCB-3379498'], dtype=object)

In [15]:
con.close()